﻿@using Formation.Mvc.Tp.Models
@using Formation.Mvc.Tp.Services.Abstractions

@model ProductTypeModel

@{
    var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
    object rawClass;
    var cssClass = htmlAttributes.TryGetValue("class", out rawClass) ? rawClass.ToString() : null;
    htmlAttributes["data-load-url"] = Url.Action("GetEmptySubType", "Product") + "?productTypeId=";
    htmlAttributes["data-sub-element"] = "";
}

<div data-sub-container>
    @Html.DropDownList(GetService<IProductService>().GetRootProductTypes(), pt => pt.Id, pt => pt.Text, Model?.Parent?.Id ?? 0, new { @class = cssClass, data_sub_parent = "" })
    @Html.DropDownListFor(model => model.Id, model => GetService<IProductService>().GetProductSubTypes(model != null && model.Parent != null ? model.Parent.Id : 0), pt => pt.Id, pt => pt.Text, htmlAttributes)
</div>
